.text_primary {
    color: $primary;
}

.text_light {
    color: $light;
}

.text_tertiary {
    color: $tertiary;
}

body {
    color: rgb(97, 97, 97);
}

h1 {
    font-size: $font-size + 8px;
}

h2 {
    font-size: $font-size + 6px;
}

h3 {
    font-size: $font-size + 2px;
}

p, span, div, body, i {
    font-size: $font-size;
}

@media only screen and (max-width: 767px){
    h1 {
        font-size: $font-size + 6px;
    }

    h2 {
        font-size: $font-size + 4px;
    }

    h3 {
        font-size: $font-size;
    }
}